.headerNav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.headerNavList {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.headerNavItem {
    padding: 0 1rem;
}

.headerNavLink {
    text-decoration: none;
}